createdAt: "2018-05-03T18:16:14.426Z"
updatedAt: "2018-05-03T18:16:17.576Z"
type: "MARKDOWN_NOTE"
folder: "3c7bfc5cd5e087f11777"
title: "test"
content: "test"
tags: []
isStarred: false
isTrashed: false
